@mixin boxShadowColor() {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.list-repository-page {
  padding: 10px 40px;

  h2 {
    color: #20b2aa;
  }

  .search-field {
    width: 400px;
    margin: 10px 10px 20px 0px;
    @include boxShadowColor();
  }

  .list-repository-table {
    @include boxShadowColor();
    tr > th {
      background-color: #79d0cc;
    }
    .ant-table-content {
      overflow: overlay;
    }
  }
}
