@import "../../styles/mixins.scss";

.list-repository-page {
  padding: 10px 40px;

  h2,
  h3 {
    color: #20b2aa;
  }

  .search-field {
    width: 400px;
    margin: 10px 10px 20px 0px;
    @include boxShadowColor;
  }

  .list-repository-table {
    @include boxShadowColor;
    tr > th {
      background-color: #79d0cc;
    }
    .ant-table-content {
      overflow: overlay;
    }
  }
}
